ion-item {
  margin: 20px 0 20px;
}

.l-center{
  display: flex;
  justify-content: center;
}

.c-avatar {
  width: 100px;
  height: 100px;
}

.c-title{
  font-size: 27px;
}

.c-formulario {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  padding: 10px;
}

@media (min-width: 576px) {
  .c-avatar {
    width: 100px;
    height: 100px;
  }

  .c-title{
    font-size: 27px;
  }
}

@media (min-width: 768px) {
  .c-avatar {
    width: 150px;
    height: 150px;
  }

  .c-title{
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .c-avatar {
    width: 200px;
    height: 200px;
  }

  .c-title{
    font-size: 40px;
  }
}

.c-input {
  --border-radius: 10px;
  --background: rgb(28, 27, 27);
  padding: 0;
  margin: 10px;
}
