@media (min-width: 0px) {
  .c-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .c-equipo-card {
    width: 80%;
    margin: auto; margin-top: 3%
  }
}

@media (min-width: 768px) {
  .c-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .c-equipo-card {
    width: auto;
    margin: auto; margin-top: 3%
  }
}

.c-blur {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
}
