<ion-content>
  <ion-card class="c-item">
    <ion-card-header class="c-backgorund">
      <ion-card-title
        ><ion-img class="c-iamge" src="../../../assets/img/escut.png"></ion-img
      ></ion-card-title>
    </ion-card-header>

    <ion-card-content class="">
      <ion-card-title class="ion-padding c-title"
        >Verifique tu correo</ion-card-title
      >
      <ion-text>Contacata tambien a traves de correo</ion-text>

      <ion-text>Si no te ha llegado el correo</ion-text>
      <br>
      <ion-button [disabled]="disable" (click)="sendEmail()">Volver a enviar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
