<ion-content>
  <ion-card class="c-item">
    <ion-card-header class="c-backgorund">
      <ion-card-title
        ><ion-img class="c-iamge" src="../../../assets/img/escut.png"></ion-img
      ></ion-card-title>
    </ion-card-header>

    <ion-card-content class="">
      <ion-card-title class="ion-padding c-title"
        >Espera a un admin verifique tu correo</ion-card-title
      >
      <ion-text>Contacata tambien a traves de correo</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
