<ion-header>
  <ion-toolbar mode="ios" class="c-background">
    <ion-title class="ion-text-center" style="--color: white"
      >Recuperar Contraseña</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img class="c-image" src="../../../assets/img/escut.png"></ion-img>
  <picture>
    <source
      media="(min-height: 900px)"
      srcset="../../../assets/img/escut.png"
    />
  </picture>
  <div class="c-formulario">
    <form [formGroup]="credentialForm">
      <ion-item class="c-input">
        <ion-input
          style="--placeholder-color: white"
          placeholder="Email Address"
          formControlName="email"
          clearInput="true"
          mode="ios"
        >
        </ion-input>
        <ion-icon name="mail"></ion-icon>
      </ion-item>
      <div
        *ngIf="(email.dirty || email.touched) && email.errors"
        class="errors"
      >
        <span *ngIf="email.errors?.required">Email es obligatorio</span>
        <span *ngIf="email.errors?.email">Email es invalido</span>
      </div>
    </form>

    <ion-button (click)="enviarContrsena()" [disabled]="!credentialForm.valid">Enviar correo</ion-button>
  </div>
</ion-content>
