<ion-app>
  <ion-split-pane
    when="(min-width: 3000px)"
    style="height: 100%"
    contentId="main-content"
  >
    <ion-menu class="c-menu" contentId="main-content" type="overlay">
      <ion-content style="--background: var(--ion-background-color)">
        <ion-list id="inbox-list">
          <ion-list-header style="margin-top: 10px" class="ion-padding">
            <ion-text style="width: 50%"
              ><h4>{{ nombre }}</h4></ion-text
            >
            <ion-avatar style="margin-left: auto">
              <ion-img
                [src]="urlImgUser | async"
                routerLink="perfil/mi-perfil"
              ></ion-img>
            </ion-avatar>
          </ion-list-header>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-button (click)="logout()" shape="circle" color="danger" class="c-button"
          ><ion-icon name="log-out-outline"></ion-icon
        ></ion-button>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="share-social"></ion-icon>
          </ion-fab-button>

          <ion-fab-list side="top">
            <ion-fab-button>
              <ion-icon name="logo-facebook" (click)="socialMedia('FACEBOOK')"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="socialMedia('INSTAGRAM')">
              <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="logo-twitter" (click)="socialMedia('TWITTER')"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="logo-youtube" (click)="socialMedia('YOUTUBE')"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="start">
            <ion-fab-button href="http://chalcasser.es/">
              <ion-icon src="../assets/icon/escut.svg"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
