<ion-content>
  <ion-card class="c-item">
    <ion-card-header class="c-background">
      <ion-card-title
        ><ion-img class="c-iamge" src="../../../assets/img/escut.png"></ion-img
      ></ion-card-title>
    </ion-card-header>

    <ion-card-content class="">
      <ion-card-title class="ion-padding ion-text-nowrap c-title"
        >Verifiqua tu correo</ion-card-title
      >
      <ion-text
        >Si tienes problemas contacta con <b>chalcasser@gmail.com</b></ion-text
      >
      <br />
      <br />
      <div>
        <small>Si no te ha llegado el correo</small>
        <br />
        <ion-button [disabled]="disable" (click)="sendEmail()"
          >Volver a enviar</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
