<ion-header>
  <ion-toolbar mode="ios" class="c-background">
    <ion-title class="ion-text-center" style="--color: white"
      >CH Alcasser</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img class="c-image" src="../../../assets/img/escut.png"></ion-img>
  <picture>
    <source
      media="(min-height: 900px)"
      srcset="../../../assets/img/escut.png"
    />
  </picture>
  <div class="c-formulario">
    <form [formGroup]="credentialForm">
      <ion-item class="c-input">
        <ion-input
          style="--placeholder-color: white"
          placeholder="Email Address"
          formControlName="email"
          clearInput="true"
          mode="ios"
        >
        </ion-input>
        <ion-icon name="mail"></ion-icon>
      </ion-item>
      <div
        *ngIf="(email.dirty || email.touched) && email.errors"
        class="errors"
      >
        <span *ngIf="email.errors?.required">Email es obligatorio</span>
        <span *ngIf="email.errors?.email">Email es invalido</span>
      </div>

      <ion-item class="c-input">
        <ion-input
          style="--placeholder-color: white"
          placeholder="Password"
          formControlName="password"
          [type]="passwordType"
          clearInput="true"
          mode="ios"
        >
        </ion-input>
          <ion-icon *ngIf="passwordType == 'text'" (click)="passwordVisible()" name="eye-off"></ion-icon>
          <ion-icon *ngIf="passwordType == 'password'" (click)="passwordVisible()" name="eye"></ion-icon>
      </ion-item>
      <div
        *ngIf="(password.dirty || password.touched) && password.errors"
        class="errors"
      >
        <span *ngIf="password.errors?.required">Contraseña es obligatoria</span>
        <span *ngIf="password.errors?.password"
          >Longuitud minima de 6 caracteres</span
        >
      </div>
    </form>
    <div style="display: flex; flex-direction: row-reverse">
      <a [routerLink]="['/contrasenya-olvidada']" style="margin-right: 10px;" class="small-text"
        >Contraseña Olvidada?</a
      >
    </div>
    <ion-button (click)="signIn()" mode="md" style="--color: white" class="c-background c-button"
      >Iniciar sesion</ion-button
    >
  </div>
</ion-content>
