/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.c-background {
  --background: none;
  background: rgba(255, 1, 2, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 1, 2, 1) 0%,
    rgba(199, 0, 7, 1) 35%,
    rgba(142, 1, 12, 1) 66%,
    rgba(1, 1, 1, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 1, 2, 1)),
    color-stop(35%, rgba(199, 0, 7, 1)),
    color-stop(66%, rgba(142, 1, 12, 1)),
    color-stop(100%, rgba(1, 1, 1, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 1, 2, 1) 0%,
    rgba(199, 0, 7, 1) 35%,
    rgba(142, 1, 12, 1) 66%,
    rgba(1, 1, 1, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 1, 2, 1) 0%,
    rgba(199, 0, 7, 1) 35%,
    rgba(142, 1, 12, 1) 66%,
    rgba(1, 1, 1, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 1, 2, 1) 0%,
    rgba(199, 0, 7, 1) 35%,
    rgba(142, 1, 12, 1) 66%,
    rgba(1, 1, 1, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 1, 2, 1) 0%,
    rgba(199, 0, 7, 1) 35%,
    rgba(142, 1, 12, 1) 66%,
    rgba(1, 1, 1, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0102', endColorstr='#010101', GradientType=0 );
}

ion-content {
  --background: #fff url("./assets/img/background/fondo.jpg")
    no-repeat center center / cover;

  --color: black;
}

.l-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
